h2 {
	font-size: xx-large;
}

body {
	background-color: bisque;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
	text-decoration: none;
}

/* ____________ */
/* Header section */
/* ____________ */

#navbar {
	display: flex;
	justify-content: space-between;
	padding: 1.5rem;
	font-family: "Courier New", Courier, monospace;
}
.logo {
	font-weight: 900;
	font-size: x-large;
	letter-spacing: -0.08rem;
}
#beautyspot {
	color: darkcyan;
}

#topnav a {
	padding: 0.5rem;
	color: grey;
}

#login {
	/* padding-left: 4rem; */
}

#trial {
	background-color: black;
	padding: 0.5rem;
	border-radius: 10px;
	color: white;
}

/* ____________ */
/* Hero Section */
/* ____________ */

#hero {
	display: flex;
	justify-content: space-between;
	height: 70vh;
	padding: 1rem 0 1rem 2rem;
	gap: 1rem;
}

#hero-text {
	flex: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: relative;
	left: 4%;
}

#hero-text p {
	font-size: 5rem;
}

#searchbar {
	display: flex;
	width: fit-content;
	box-shadow: -5px 5px 15px rgba(175, 175, 174, 0.46);
}

#searchbar input {
	height: 4rem;
	width: 15rem;
	border: none;
	padding: 5px 35px;
	font-size: large;
}

#searchbar button {
	height: 100%;
	font-size: x-large;
	background-color: rgb(110, 166, 25);
	padding: 1rem;
}

#searchbar button:active {
	background-color: green;
}

#hero-slides {
	flex: 5;
	display: flex;
	justify-content: space-between;
	gap: 0.5rem;
}

.right-side-text {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.big-text {
	font-size: 3rem;
}

.small-text {
	font-size: small;
}

#cooking {
	background: linear-gradient(
			to bottom,
			rgba(255, 135, 135, 0) 60%,
			rgba(0, 0, 0, 0.653)
		),
		url(https://images.unsplash.com/photo-1554151228-14d9def656e4);
	background-size: cover;
	width: 30%;
	border-radius: 10px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	padding: 0 1rem 2.5rem 3rem;
	color: white;
	font-size: x-large;
}

#writing {
	background: linear-gradient(
			to bottom,
			rgba(255, 135, 135, 0) 60%,
			rgba(0, 0, 0, 0.653)
		),
		url(https://images.unsplash.com/photo-1573600073955-f15b3b6caab7);
	background-size: cover;
	width: 30%;
	border-radius: 10px;
	display: flex;
	align-items: flex-end;
	padding-bottom: 1.5rem;
}

#business {
	background: linear-gradient(
			to bottom,
			rgba(255, 135, 135, 0) 60%,
			rgba(0, 0, 0, 0.653)
		),
		url("https://images.unsplash.com/photo-1531746020798-e6953c6e8e04");
	background-size: cover;
	width: 30%;
	border-radius: 10px;
	display: flex;
	align-items: flex-end;
	padding-bottom: 1.5rem;
}

.slide-text-box {
	background-color: rgb(18, 2, 51);
	color: white;
	font-size: x-large;
	width: 4rem;
	height: 4.5rem;
}

.slide-text-box p {
	transform: rotate(270deg);
	letter-spacing: 0.1rem;
	position: relative;
	bottom: -0.8rem;
}

/* ___________ */
/*  Portfolio  */
/* ___________ */

#portfolio {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

#portfolio h2 {
	padding: 1rem;
}

#course-catalogue {
	display: flex;
	justify-content: space-between;
	gap: 2rem;
}

#course-catalogue p {
	color: grey;
}

#course-catalogue p:hover {
	color: black;
	text-decoration: underline;
}

#cards {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	padding: 1rem;
}

#cards div {
	width: 15vw;
	height: 40vh;
	border-radius: 10px;
}

#orange-card {
	background-color: orange;
}

#green-card {
	background-color: green;
}

#grey-card {
	background-color: grey;
}

#blue-card {
	background-color: navy;
}

/* ___________ */
/* Hover shenanigans */
/* ___________ */

.slide-alt-text {
	opacity: 0;
}

/* .slide-alt-text {
	background-color: rgb(18, 2, 51);
	color: white;
	font-size: x-large;
	width: 4rem;
	height: 4.5rem;
}

#cooking:hover p {
opacity: 0;
}

#cooking:hover {
transform: scale(1.2);

}

#writing:hover {
transform: scale(1.2);
}

#writing:hover .slide-text-box p {
opacity: 0
}

#writing:hover .slide-text-box {
opacity: 0
}

#writing:hover .slide-alt-text {
color: white;
opacity: 100
}

#business:hover {
transform: scale(1.2);
position: relative;
right: 3%;
top: 8%;
}

#business:hover .slide-text-box p {
opacity: 0
}

#business:hover .slide-text-box {
opacity: 0
}

#business:hover .slide-alt-text {
color: white;
opacity: 100
} */
